* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/patt.png);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100px;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.logo {
    margin-top: 7px;
}

.menu {
    display: flex;
}

.menu li {
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 21px;
    color: #2c71b8;
}

.menu a:hover,
.product_dropdown:has(> .product_dropdown_content:hover) a {
    background-color: #2c71b8;
    color: white;
}

.product_dropdown svg {
    margin-left: 9px;
}

/* dropdown */

.product_dropdown {
    position: relative;
    display: inline-block;
}

.product_dropdown_content {
    position: absolute;
    display: none;
}

.product_dropdown_content li {
    border: none !important;
    width: 286px;
}

.product_dropdown_content a {
    display: block;
    padding-left: 28px;
    white-space: nowrap;
    width: 100%;
    padding-top: 14px;
}

.product_dropdown:hover {
    border: none;
}

.product_dropdown:hover .product_dropdown_content {
    display: block;
    background-color: #2c71b8;
}

.product_dropdown:hover svg {
    transform: rotate(180deg);
    fill: white
}

.product_dropdown:hover .product_dropdown_content a {
    color: white;
}

.product_dropdown .product_dropdown_content a:hover {
    background-color: white;
    color: #2c71b8;
}

.product_dropdown:has(> .product_dropdown_content a:hover) {
    background-color: #2c71b8;
}

/* end of the dropdown */

/* search & cart */

.search-container {
    display: flex;
    align-items: center;
}

.search {
    width: 200px;
    height: 40px;
    border: 1px solid #2c71b8;

    display: flex;
    align-items: center;
}

input[name='search'] {
    width: 145px;
    height: 30px;
    margin-left: 19px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;

    border: none;
}

input[name='search']::placeholder {
    color: #2c71b8;
}

button[name='searchBtn'] {
    background-image: url(./img/lope.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2c71b8;

    width: 30px;
    height: 30px;
    border: 0px;
    margin-right: 4px;
}

.cart {
    display: flex;
    align-items: center;
}

button[name='cart'] {
    background-image: url(./img/cart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;

    width: 40px;
    height: 40px;
    border: 0px;
    margin-left: 30px;
}

/* end of the search & cart section */

.slider_container {
    border-bottom: 1px solid white;
}

.slider {
    height: 401px;
}

main {
    display: flex;
}

/* filters */

.filters {
    background-color: rgba(255, 255, 255, 0.2);
    width: 270px;
    height: 845px;
    padding-top: 30px;

    border-right: 1px solid white;
}

/* end of the filters section */

.products_list {
    padding-left: 30px;
}

/* nav-line */

.nav_line {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.nav_line > * {
    margin-right: 8px;
}
.nav_line a {
    font-size: 14px;
    color: #6e9ece;
}

.nav_line a:not([class="nav-line_last_section"]) {
    text-decoration: none;
}

.nav_line svg {
    transform: rotate(270deg);
    fill: #6e9ece;
}

/* end of nav-line */

.main_header_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main_header_sort {
    width: 270px;
    height: 40px;
    padding-left: 20px;
    font-size: 21px;
    color: white;
    border: 1px solid white;

    display: flex;
    align-items: center;
}

.main_header_text {
    color: white;
    font-size: 48px;
    font-weight: 700;

    padding-top: 30px;
}

.main_products_list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_col_3 {
    width: 270px;
    height: 650px;

    border: 1px solid #cadbed;
    margin-bottom: 30px;
}

.product_img_container {
    width: 100%;
    height: 180px;

    background-color: rgba(255, 255, 255, .75);

    border-bottom: 1px solid #cadbed;

    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

[class*="img_prod_"] {
    background-repeat: no-repeat;
    background-position: center;
}

.img_prod_1 {
    background-image: url(./img/prod_1.png);
}

.img_prod_2 {
    background-image: url(./img/prod_2.png);
}

.img_prod_3 {
    background-image: url(./img/prod_3.png);
}

.img_prod_4 {
    background-image: url(./img/prod_4.png);
}

.product_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30px;
    height: 70px;
    margin-top: 10px;
}

button[name="makeBiggerBtn"] {
    background-image: url(./img/makeBigger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid #2c71b8;

    width: 30px;
    height: 30px;
}

button[name="addToFavsBtn"] {
    background-image: url(./img/favIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid #2c71b8;

    width: 30px;
    height: 30px;
}

.product_text_container {
    padding-left: 16px;
    padding-right: 17px;
}

.product_name {
    font-size: 30px;
    font-weight: 700;
    padding: 16px 0 19px 0;
    color: white;
}

.product_desc {
    font-size: 21px;
    color: white;
}

.product_details {
    color: white;
    font-size: 21px;
    padding-top: 15px;
}

.bold_details_text {
    font-weight: 700;
}

.product_price{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: white;
}

.dollar_price {
    text-align: right;
    font-size: 48px;
}

.penny_price {
    padding-left: 8px;
    font-size: 21px;
}

.product_desc_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-bottom: 30px;
}

button[name="productDetailsBtn"] {
    width: 210px;
    height: 50px;
    margin-top: 25px;

    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: 700;
    font-size: 21px;
}

button[name="addToCartBtn"] {
    width: 210px;
    height: 50px;
    margin-top: 15px;

    background-color: #5a91c8;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 21px;
}

button[name="addToCartBtn"] img {
    margin-left: 10px;
}