* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

ul {
    display: flex;
    list-style-type: none;
}

.nav-div_menu_left {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #2E2E2E;
    max-width: fit-content;
    text-transform: uppercase;
}

.nav-div_menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    display: flex;
}

.menu-center {
    justify-content: center;
    text-transform: uppercase;
}

.menu-right {
    justify-content: flex-end;
    max-width: fit-content;
    text-transform: uppercase;
}

.nav-div_menu .nav-div-ul_center a {
    text-decoration: none;
    color: #1C1C1B;
    padding: 0 20px;
}

.nav-div_menu .nav-div-ul_right a {
    text-decoration: none;
    color: #89898B;
    padding-left: 25px;
}

.main-section-div_header {
    width: 825px;

    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 82px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
    margin-top: 40px;
}

.main-section-div_header p:nth-child(2) {
    color: #5BB351;
}

.main-section-div_preview_container {
    display: flex;
    align-items: flex-end;
}

.main-section-div-div_preview_text {
    width: 429px;
    color: #89898B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section-div-div_preview_text div {
    padding-top: 50px;
}

.link {
    color: #5BB351;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    padding-top: 30px;
}

.main-section-div-div_preview-img {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.main-section-article_container_categories {
    display: flex;
    margin-top: 150px;
    width: 100%;
}

.main-section-article-div_header_categories {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: #000;
    text-transform: uppercase;
    width: 33%;

    display: flex;
    justify-content: flex-start;
}

.main-section-article-div_container_text_categories {
    width: 33%;
}

.main-section-article-div_text_categories {
    width: 287px;
    height: 57px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #1C1C1B;
}

.main-section-article-div_container_ul_categories {
    display: flex;
    flex-direction: column;
    width: 33%;

    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #89898B;
}

.main-section-article-div_container_ul_categories li:nth-child(1) {
    color: #000;
}

.main-section-article_container_why {
    margin-top: 150px;
}

.main-section-article-div_header_why {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: #000;
    text-transform: uppercase;
    width: 33%;
    padding-bottom: 50px;
}

.main-section-article-div_background {
    background-image: url(https://lh3.googleusercontent.com/MKwin650Gux3x7hUeOOg6_iVKFlaeeOZUOQauRn027VNPv3fc1OvFtQYtTtyGP65NgWLILEj-2D1muexC7Tu19nh_jMaX7nePWekKsI-yah0uv1ZETJ_rqBsMIKFPHOvV2mso4B1I-_JrQBztm9oRxL1DqNlsq7UF2Jim20I7Gawrb015-A768wQGOcjROLleVdXf9md-B8WmexsTZjk8kzu2pBqvDc986PXfrvF2CWC8jP91u6MIs_4vOl_TB1YhyykuPEKzVxB4fdFWry7YZ6VAoDLcgX4MJNFHpT6qfgzQM6AYjktUcV_Vkay59LkmoOkiWVacaGralJGDhguvS73pctbR4EVZ5X9JQwgZFo9ql_wc44QF-I1YqC8oGnGP5VWTpbVYJ9En0M4if1vBaMNrhDOT67eVBOdakMMVUzybMkswUFHkB-GWNOHtW46g7K0riznCIEYoVA-Vyk5V-VBmQDHWMe4vjQwsp32t9nfVyJW2VQG-QuY0KuzXJ2cnwbQVrYTbbmEK_Hi1EvK6T68kO4ibBxeMYm9u6Ul1AVBVSiva1JJU9bBLhNylERc2-J8TT0NYe2tkoI128NgVh8JjVJVM946KHg9MiNeFzy9SZzjam9cF8OP7v6KpdUw11HMtF87_d2e0_x_zmic9CrWLqM6sOY5Aj4-pcHP3VjrAriGwWyUXwkgoNARLu_uILGO29mfZRTgXqchsQ44FknoiMl7L2e0GuHUkcJ_eGKcR8TkkHv6G1jqyjqymR4THFRty-ATufX9CSwCyyPLP2RZk0M2f2idnoA6DYsTQShHdcRKIyQO41mlX1E9QoNz594CsuEVHk4khqPFZXEtbDLQyyJJsF_YghuttHJTTKGQQ7HygpflkKCSDj3XU3VjqPVtICQRBNLfxWagIq7gnwWYgbL4ewTtyw2g_1rh02GJQ4Dyi19OQ8jV0Z7_UrI--6LhTpWGVwUQ-FYvfQ=w327-h358-no?authuser=0);
    background-size: auto 300px;
    background-repeat: no-repeat;
    background-position: right bottom 20px;
    z-index: 100;
}

hr {
    width: 1405px;
    color: #89898B;
    position: absolute;
    z-index: -1;
}

.main-section-article-div-div_container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 47px;
}

.main-section-article-div-div_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 30%;
}

.main-section-article-div-div_text {
    width: 480px;
    height: 38px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #89898B;
}

.main-section-article_container_videos {
    margin-top: 150px;
}

.main-section-article-div_header_videos {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: #000;
    text-transform: uppercase;
    width: 33%;
    padding-bottom: 50px;
    padding-left: 100px;
}

.main-section-article-div_container_videos {
    margin-left: auto;
    margin-right: 0;
    padding-left: 100px;

    display: flex;
    overflow: hidden;
    max-width: fit-content;
}

.img-video-1 {
    width: 850px;
    height: 700px;
    object-fit: cover;
}

.main-section-article-div_div_video_header {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

    padding-top: 10px;
}

.main-section-article-div_div_video_duration {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #89898B;

    padding-top: 10px;
}

.main-section-article-div_div_video_description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #89898B;

    padding-top: 10px;
    width: 480px;
}

.div-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    padding-top: 30px;
}

.img-video-2 {
    width: 450px;
    height: 580px;
    object-fit: cover;
}

.main-section-article-div-div_container_video {
    padding-right: 40px;
}

.img-video-3 {
    width: 450px;
    height: 580px;
    object-fit: cover;
}

.main-section-article_container_explore_library {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
}

.main-section-article-div_header_explore-library {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: #000;
    text-transform: uppercase;
}

.main-section-article-div-div_explore_text_header {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 40px;
}

.main-section-article-div-div_explore_text_container {
    width: 316px;
    height: 95px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1B;
}

.better-form-img {
    width: 450px;
    height: 500px;
    object-fit: cover;
}

.main-section-article_container_comments {
    margin-top: 150px;
    display: flex;
}

.main-section-article-div_header_comments {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: #000;
    text-transform: uppercase;
    width: 36%;
}

#arrows {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.left {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.main-section-article-div-div-div_comment {
    padding-top: 36px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
}

.main-section-article-div-div-div_author {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.main-section-article_container_simple {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-section-article-div_header_simple {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: #000;
    text-transform: uppercase;
}

.simple-img {
    width: 900px;
}

.main-section-article-div-div_text_simple {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1B;

    margin-top: 40px;
}

footer {
    margin-top: 150px;
}

hr {
    background: #5BB351;
}

.footer-div {
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-uls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-div-div_header {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #2E2E2E;
    max-width: fit-content;
    text-transform: uppercase;
}

.footer-div-div-div_header {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #1C1C1B;

    padding-bottom: 24px;
}

.footer-ul-items {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 17px;
line-height: 210.69%;
color: #1C1C1B;
}

.footer-ul-items {
    display: flex;
    flex-direction: column;
}

.footer-ul-1,
.footer-ul-2,
.footer-ul-3 {
    padding-right: 175px;
}