*{
    margin: 0;
    box-sizing: border-box;
}

ul{
    background-color: #333;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

li{
    float: left;
}

li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.active{
    background-color: red;
}

a:hover{
    color: yellow;
}

main{
    width: 800px;
    height: 600px;
    border: 1px solid rgb(190, 243, 242);
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 5px 10px 10px rgb(190, 243, 242);
}

form{
    width: 500px;
    height: 598px;
    background-color: rgb(204, 241, 232);
    margin: auto;
    position: relative;
}

h2{
    padding-left: 150px;
    padding-top: 80px;
}
.name{
    position: absolute;
    top: 130px;
    left: 50px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.email{
    position: absolute;
    top: 130px;
    left: 250px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.subject{
    position: absolute;
    top: 170px;
    left: 50px;
    width: 348px;
    height: 30px;
    padding: 0px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

textarea{
    position: absolute;
    top: 210px;
    left: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

button{
    position: absolute;
    top: 310px;
    left: 330px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}