* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
}

body {
    background-image: url('https://images.healthshots.com/healthshots/en/uploads/2021/12/18081913/bhujangasana.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 800px;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
}

li a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

div {
    margin: 20px;
    color: white;
    text-align: center;
    margin: auto;
}

nav div {
    width: 33%;
}

.menu-left {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.menu-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.menu-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px !important;
    font-family: 'Noto Serif', 'serif';
    font-size: 36px;
    font-weight: 300 !important;
    line-height: 90%;
}

.main-header {
    font-family: 'Noto Serif';
    font-weight: 100 !important;
    font-size: 80px;
    line-height: 100%;

    text-transform: uppercase;

    margin-top: 143px;
    margin-bottom: 40px;
    width: 822px;
    height: 160px;
}

.small-main-header {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    width: 568px;
    height: 38px;
    margin-bottom: 40px;
}

#button-container {
    width: 162px;
    height: 32px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: white !important;
    font-size: 16px;
    background-color: unset !important;

    margin: auto;
}

.categories-header {
    margin-top: 400px;
    /* 500 looks closer to the mock up */

    font-family: 'Noto Serif', 'serif';
    font-weight: 300;
    font-size: 52px;
    line-height: 90%;

    text-transform: uppercase;
    color: #000 !important;
}

.section-container {
    display: flex;
    width: 100%;
}

.categories-container {
    width: 33%;
    color: #1C1C1B;
}

.categories-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1C1C1B;

    margin-top: 40px;
    width: 287px;
    height: 57px;
}

.categories-ul-container {
    margin-top: 50px;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;

    color: #000;
}

li {
    padding-bottom: 15px;
}

#img-yoga-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
}

#img-yoga-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.section-header {
    margin-top: 180px;
    margin-bottom: 84px;

    font-family: 'Noto Serif', 'serif';
    font-weight: 300;
    font-size: 52px;
    line-height: 90%;

    text-transform: uppercase;
    color: #000 !important;
}

#articles-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.join-article-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #1C1C1B;

    width: 287px;
    height: 57px;
}

.article-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;

    text-transform: uppercase;
    color: #000;

    width: 100%;
    margin-bottom: 20px;
}

.videos-container {
    display: flex;
    width: 100%;
}

.video-left,
.video-right {
    width: 25%;
    margin: 0;
}

.video-center {
    width: 50%;
    margin: 0 64px 0 64px;
}

.videos-container img,
.videos-container div {
    padding-left: 18px;
    padding-right: 18px;
}

#video-left-photo,
#video-right-photo {
    width: 100%;
    display: flex;
}

#video-center-photo {
    width: 100%;
}

.video-topic-container {
    display: flex;
    width: 100%;
}

.video-topic-left {
    color: #000 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    margin: 0;
    padding: 5px 0 5px 0 !important;
    width: 50%;
    justify-content: flex-start;
    padding-top: 15px;
}

.video-topic-right {
    color: #000 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    margin: 0;
    padding: 5px 0 5px 0 !important;
    width: 50%;
    justify-content: flex-end;
}

.videos-container .article-header {
    text-align: left;
}

.video-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1B;

    text-align: left;
    width: 287px;
    height: 57px;
    margin: 0;
}

.link-video {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1B;

    margin: 0;
    white-space: nowrap;
    text-align: left;
}

.link-video-center {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1B;

    margin: 0;
    padding: 20px 0 0 0;
    white-space: nowrap;
    text-align: left;
}

a {
    color: #1C1C1B;
}

.better-form-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1B;

    text-align: left;
    width: 316px;
    height: 95px;
    margin: 0;
}

.better-form-container {
    display: flex;
    width: 100%;
}

.better-form-1 {
    display: flex;
    width: 35%;
    margin: 0;
    justify-content: flex-end;
}

.better-form-2 {
    display: flex;
    width: 30%;
    justify-content: center;
}

.better-form-3 {
    width: 35%;
    margin: 0;
}

#better-form-1-photo {
    height: 320px;
}

#better-form-2-photo {
    width: 432px;
}

.better-form-3 .article-header {
    text-align: left;
}

#comment-text,
#join-now-header {
    margin-bottom: 40px;
}

.comment-author,
.join-now-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1B;

    text-align: center;
    margin-bottom: 45px;
}

#arrows {
    display: flex;
    width: 100%;
}

.left {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.join-now-text {
    width: 462px;
    height: 57px;
    margin-bottom: 0;
}

.button-container-black {
    margin-bottom: 40px;
    margin-top: 40px;
    border: 2px solid #1C1C1B;
    border-radius: 40px;
    color: #1C1C1B !important;
    background-color: unset !important;
    font-size: 16px;
    padding: 6px 15px;
}

.join-now-photo {
    width: 418px;
}

#follow-header {
    margin-bottom: 10px;
}

#follow-buttons {
    font-size: 26px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 20px;
    margin-right: 20px;
}

.follow-photos-container {
    display: flex;
    width: 100%;
    margin-bottom: 180px;
}

.follow-photo-1 {
    display: flex;
    margin: 0;
    width: 20%;
    justify-content: center;
    align-content: flex-start;
}

.follow-photo-2 {
    display: flex;
    height: 680px;
    width: 33%;
    justify-content: center;
}

.follow-photo-3 {
    display: flex;
    height: 406px;
    width: 20%;
    margin: 0;
    justify-content: center;
}

.follow-photo-4 {
    display: flex;
    height: 683px;
    width: 27%;
    margin: 0;
    justify-content: flex-end;
}

hr {
    background: #D9D9D9;
    margin-bottom: 80px;
}

.footer-container {
    display: flex;
    width: 100%;
}

.footer-title {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    margin: 0;

    font-family: 'Noto Serif', 'serif';
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase;
    color: #1C1C1B;
}

.footer-uls {
    display: flex;
    width: 50%;
    margin: 0;
    align-items: flex-start;
}

footer .article-header {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
}

.footer-ul {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #1C1C1B;
}

.footer-ul-1,
.footer-ul-2,
.footer-ul-3,
.footer-ul-4 {
    display: flex;
    width: 25%;
    flex-flow: column;
    justify-content: flex-start;
    margin: 0;
}

.footer-ul li {
    display: flex;
}