* {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.border-div {
    display: flex;
    justify-content: center;
}

h2 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-container {
    border: 2px solid black;
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.rectangle {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 500px;
    height: 200px;
    justify-content: center;
}

button {
    width: 60px;
    height: 30px;
}

.lorem {
    display: flex;
    width: 100%;
    text-align: right;
}

a {
    margin: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 50px;
}

.ul-container {
    display: flex;
    justify-content: center;
}

li {
    font-size: 40px;
}