* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/patt.png);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100px;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 30px;
}

.logo {
    margin-top: 7px;
}

.menu {
    display: flex;
}

.menu li {
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 21px;
    color: #2c71b8;
}

.menu a:hover,
.product_dropdown:has(> .product_dropdown_content:hover) a {
    background-color: #2c71b8;
    color: white;
}

.product_dropdown svg {
    margin-left: 9px;
}

/* dropdown */

.product_dropdown {
    position: relative;
    display: inline-block;
}

.product_dropdown_content {
    position: absolute;
    display: none;
}

.product_dropdown_content li {
    border: none !important;
    width: 286px;
}

.product_dropdown_content a {
    display: block;
    padding-left: 28px;
    white-space: nowrap;
    width: 100%;
    padding-top: 14px;
}

.product_dropdown:hover {
    border: none;
}

.product_dropdown:hover .product_dropdown_content {
    display: block;
    background-color: #2c71b8;
}

.product_dropdown:hover svg {
    transform: rotate(180deg);
    fill: white
}

.product_dropdown:hover .product_dropdown_content a {
    color: white;
}

.product_dropdown .product_dropdown_content a:hover {
    background-color: white;
    color: #2c71b8;
}

.product_dropdown:has(> .product_dropdown_content a:hover) {
    background-color: #2c71b8;
}

/* end of the dropdown */

/* search & cart */

.search-container {
    display: flex;
    align-items: center;
}

.search {
    width: 200px;
    height: 40px;
    border: 1px solid #2c71b8;

    display: flex;
    align-items: center;
}

input[name='search'] {
    width: 145px;
    height: 30px;
    margin-left: 19px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;

    border: none;
}

input[name='search']::placeholder {
    color: #2c71b8;
}

button[name='searchBtn'] {
    background-image: url(./img/lope.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2c71b8;

    width: 30px;
    height: 30px;
    border: 0px;
    margin-right: 4px;
}

.cart {
    display: flex;
    align-items: center;
}

button[name='cart'] {
    background-image: url(./img/cart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;

    width: 40px;
    height: 40px;
    border: 0px;
    margin-left: 30px;
}

/* end of the search & cart section */

.slider {
    height: 401px;
    border-bottom: 1px solid white;
}

.device_type {
    background-color: rgba(255, 255, 255, 0.2);
    width: 270px;
    height: 845px;
    padding-top: 30px;
    border-right: 1px solid white;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.breadcrumbs_list {
    display: flex;
    align-items: center;
}

.breadcrumbs_list > * {
    margin-right: 8px;
}
.breadcrumbs a {
    font-size: 14px;
    color: #6e9ece;
}

.breadcrumbs a:not([class="nav-line_last_section"]) {
    text-decoration: none;
}

.breadcrumbs svg {
    transform: rotate(270deg);
    fill: #6e9ece;
}

.main_header_text {
    color: white;
    font-size: 48px;
    font-weight: 700;

    padding-top: 30px;
}

.dropdown_container {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.sorting {
    width: 267px;
    height: 40px;
    border: 1px solid white;
    background-color: #2c71b8;
 
    display: flex;
}

.sorting a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    text-decoration: none;
    color: white;
    font-size: 21px;
    padding-left: 20px;
    padding-right: 15px;
}

.sorting svg {
    fill: white
}

.sorting_dropdown {
    position: relative;
    display: inline-block;
}

.sorting_dropdown_content {
    position: absolute;
    display: none;
    width: 267px;
}

.sorting_dropdown:hover .sorting_dropdown_content{
    display: block;
    background-color: #2c71b8;
    border: 1px solid white;
    border-top: none;
    z-index: 1;
}

.sorting_dropdown_content li {
    display: block;
    white-space: nowrap;

    color: white;
    font-size: 21px;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
}

.sorting_dropdown:hover li:hover {
    background-color: white;
    color: #2c71b8;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.product{
    margin-top: 50px;
    border: 1px solid white;
}

.product-img {
    position: relative;
    width: 100%;
    /* width: 270px; */
    height: 180px;
    background-color: rgba(255, 255, 255, .75);
}

.product-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zoom,
.like {
    position: absolute;
    margin-left: 230px;
}

.zoom {
    margin-top: 10px;
}

.like {
    margin-top: 50px;
}

button[name="zoomBtn"]:hover {
    background-color: #2c71b8;
    background-image: url(./img/zoom-white.png);
}

button[name="likeBtn"]:hover {
    background-color: #2c71b8;
    background-image: url(./img/like-white.png);
}

button[name="zoomBtn"] {
    background-image: url(./img/zoom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid #2c71b8;

    width: 30px;
    height: 30px;
}

button[name="likeBtn"] {
    background-image: url(./img/like.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid #2c71b8;

    width: 30px;
    height: 30px;
}

.product-details {
    padding-left: 15px;
}

.product_title {
    font-size: 30px;
    font-weight: 700;
    padding: 16px 0 19px 0;
    color: white;
}

.product_desc {
    font-size: 21px;
    color: white;
}

.product_features {
    color: white;
    font-size: 21px;
    padding-top: 15px;
}

.bold_details_text {
    font-weight: 700;
    text-transform: uppercase;
}

.product_price{
    padding-top: 30px;
    color: white;
    text-align: center;
    font-size: 48px;
}

.btn_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 25px;
    margin-bottom: 29px;
}

.btn {
    width: 210px;
    height: 50px;

    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
}

button[name="addToCartBtn"] {
    margin-top: 15px;
}

button[name="addToCartBtn"] img {
    margin-left: 10px;
}

button[name="moreDetailsBtn"]:hover,
button[name="addToCartBtn"]:hover {
    background-color: #5a91c8;
    color: white;
    border: none;
}