#seventh-paragraph{
    border: 3px solid blue;
    font-size: 35px;
    font-weight: bold;
}

.style-2-4-6{
    background-color: black;
    color: white;
    font-size: 27px;
    text-decoration: underline;
    font-style: italic;
}

p:not([class]){
    font-size: 25px;
    border-right-color: #ff0000;
    border-right-style: dashed;
    border-right-width: 3px;
}

span{
    color: red;
}