*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    color: red !important;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.blue{
    color: blue;
}

#yellow{
    color: yellow;
}

#pink{
    color: pink;
    font-family: 'Oswald', sans-serif;
}

section{
    border: 1px solid black;
}

/* div:nth-child(3){
    color: red;
}

div:nth-child(2){
    color: green;
}

div:first-child{
    color: yellow;
}

div::first-line{
    font-size: 30px;
} */
/* 
div::before{
    content: 'Hello';
}

div::after{
    content: 'hellow';
}

div:hover{
    color: blue;
} */

div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    padding-left: 15px;
    padding-top: 30px;
    margin: 30px;

    overflow: scroll;
}
span{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
