*{
    margin: 0;
    box-sizing: border-box;
}

main,
.main-adaptive{
    width: 800px;
    height: 600px;
    border: 1px solid rgb(190, 243, 242);
    margin: auto;
    margin-top: 50px;
    /* box-shadow: 0px 5px 10px 10px rgb(190, 243, 242); */
}

form{
    width: 500px;
    height: 598px;
    background-color: rgb(204, 241, 232);
    margin: auto;
    position: relative;
    margin-bottom: 100px;
}

h2{
    padding-left: 150px;
    padding-top: 80px;
}
.name,
.name-adaptive{
    position: absolute;
    top: 130px;
    left: 50px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.email,
.email-adaptive{
    position: absolute;
    top: 130px;
    left: 250px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.subject,
.subject-adaptive{
    position: absolute;
    top: 170px;
    left: 50px;
    width: 348px;
    height: 30px;
    padding: 0px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

textarea,
.message-adaptive{
    position: absolute;
    top: 210px;
    left: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

button,
.button-adaptive{
    position: absolute;
    top: 310px;
    left: 50px;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

@media (max-width: 800px) {
    .main-adaptive {
    width: 300px;
    height: 400px;
    }

    .form-adaptive {
        width: 400px;
    }

    .button-adaptive {
        width: 150px;
        margin-left: 50px;
    }
    .message-adaptive,
    .name-adaptive,
    .subject-adaptive {
        width: 250px;
    }

    .name-adaptive,
    .email-adaptive {
        width: 110px;
    }

    .email-adaptive {
        left: 190px;
    }

    .form-adaptive h2 {
        padding-left: 0;
        text-align: center;
    }
}