.main-c{
    display: flex;
    justify-content: center;
    align-content: center;
}

.center{
    border: 10px solid black;
    background-color: blue;
    width: 1100px;
    height: 300px;
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.rectangle{
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.rectangle:first-child {
    background-color: coral;
}

.rectangle:nth-child(2) {
    background-color:aqua;
}

.rectangle:nth-child(3) {
    background-color:blueviolet;
}

.rectangle:nth-child(4) {
    background-color:chartreuse;
}

.rectangle:nth-child(5) {
    background-color:crimson;
}

.rectangle:nth-child(6) {
    background-color:gold;
}

.rectangle:last-child {
    background-color:brown;
}